
		<form method="get" action="/quizes/answer">
			<p>Pregunta: <%= pregunta %> </p>
			<p><input type="text" name="respuesta" value="Respuesta aquí"/></p>
			<p><input type="submit" value="Enviar"/></p>
		</form>

